<%include partials/header%>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Profile</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%=currentUser.fullname%></li>
                  <li class="list-group-item"><%=currentUser.username%></li>
                  <li class="list-group-item"><%=currentUser.address%></li>
                  <li class="list-group-item"><%=currentUser.contact%></li>
                </ul>
                <div class="card-body">
                  <a href="/dashboard/<%=currentUser._id%>/edit" class="card-link">Edit Profile</a>
                  <a href="/new" class="card-link">Add a new Product</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <% products.forEach(function(product){ %>
                    <div class="card col-md-6" style="width: 18rem;">
                        <img src="<%= product.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= product.name %></h5>
                          <p class="card-text"><strong>Description:</strong><%=product.description%></p>
                          <p class="card-text"><strong>Price:</strong><%=product.price%></p>
                          <form action="/dashboard/<%=product._id%>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE" class="btn btn-sm btn-danger">
                          </form>
                        </div>
                      </div>
                <% }); %>
            </div> 
        </div>
    </div>
</div>




<footer class="xyz">
  <div class="footer-bottom text-center">
      <div class="container">
          <div class="footer-logo">
              <a href="/"><span>Find</span>Stuff</a>
          </div>
          <div class="footer-social-icons">
              <ul>
                  <li><a class="facebook" href="#"><span>Facebook</span></a></li>
                  <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                  <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                  <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                  <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
              </ul>
          </div>
          <div class="copyrights">
              <p> Find Stuff. All Rights Reserved | Design by  Piyush Devansh and Aman Raj</p>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</footer>
</body>
</html>