<% include partials/header %>


<div class="container">
    <div class="row">
        <div class="col-md-6 img-thumbnail">
            <img src="<%=product.image%>" class="image" alt="">
        </div>
        <div class="col-md-6">
            <h1><%=product.name%></h1>
            <p><%=product.description%></p>
            <p><%=product.price%></p>
            <div>
                <h3>Owner Details:</h3>
                <ul>
                    <li><%=product.owner.fullname%></li>
                    <li><%=product.owner.address%></li>
                    <li><%=product.owner.contact%></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>

<footer class="xyz">
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="footer-logo">
                <a href="/"><span>Find</span>Stuff</a>
            </div>
            <div class="footer-social-icons">
                <ul>
                    <li><a class="facebook" href="#"><span>Facebook</span></a></li>
                    <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                    <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                    <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                    <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
                </ul>
            </div>
            <div class="copyrights">
                <p> Find Stuff. All Rights Reserved | Design by  Piyush Devansh and Aman Raj</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
</body>
</html>